{{ define "index"}}

{{ template "header" }}

<body>
    <div class="container mt-3">
        <h2>Online</h2>
        <table class="table table-striped">
            <tr>
                <th>Name</th>
                <th>Ip</th>
                <th>Mac</th>
                <th>Hardware</th>
                <th>Known</th>
            </tr>
            {{ range . }}
                {{ if eq .Now 1 }}
                <tr>
                    <td>{{ .Name }}</td>
                    <td>{{ .Ip }}</td>
                    <td>{{ .Mac }}</td>
                    <td>{{ .Hw }}</td>
                    <td>
                        {{ if eq .Known 1 }}
                        <button type="button" class="btn btn-success" disabled>Yes</button>
                        {{ else }}
                        <button type="button" class="btn btn-warning" disabled>No</button>
                        {{ end }}
                    </td>
                </tr>
                {{ end }}
            {{ end }}
        </table>
        <h2>Log</h2>
        <table class="table table-striped">
            <tr>
                <th>Name</th>
                <th>Ip</th>
                <th>Mac</th>
                <th>Hardware</th>
                <th>Last seen</th>
                <th>Known</th>
                <th> </th>
            </tr>
            {{ range . }}
                <form action="/update_host/" method="post">
                    <input name="id" type="hidden" class="form-control" value="{{ .Id }}">
                    <tr>
                        <td>
                            <input name="name" type="text" class="form-control text-dark" value="{{ .Name }}">
                        </td>
                        <td>{{ .Ip }}</td>
                        <td>{{ .Mac }}</td>
                        <td>{{ .Hw }}</td>
                        <td>{{ .Date }}</td>
                        <td>
                            {{ if eq .Known 1 }}
                            <input name="known" class="form-check-input" type="checkbox" checked>
                            {{ else }}
                            <input name="known" class="form-check-input" type="checkbox">
                            {{ end }}
                        </td>
                        <td>
                            <button type="submit" class="btn btn-primary">Ok</button>
                        </td>
                    </tr>
                </form>
            {{ end }}
        </table>
    </div>
</body>
</html>
{{ end }}