{{ define "index"}}
<html>
<head>
    <title>Watch Your LAN</title>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.2.0/dist/spacelab/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <table>
        <tr>
            <th>Name</th>
            <th>Ip</th>
            <th>Mac</th>
            <th>Hardware</th>
        </tr>
        {{ range . }}
        <tr>
            <td>{{ .Name }}</td>
            <td>{{ .Ip }}</td>
            <td>{{ .Mac }}</td>
            <td>{{ .Hw }}</td>
        </tr>
        {{ end }}
    </table>
</body>
</html>
{{ end }}