/* Sort button */
.my-btn {
    height: 100%;
    background-color: #00000000;
    color: var(--bs-primary);
    text-align: center;
}
.my-btn:hover {
    background-color: #0000001a;
}

/* History box */
.my-box-on::before, .my-box-off::before {
    content: url(/fs/public/box.svg);
    border-left: thin solid black;
}
.my-box-on {
    background-color: var(--bs-success);
}
.my-box-off {
    background-color: var(--bs-gray-500);
}
.my-box-on:hover, .my-box-off:hover {
    background-color: #0000001a;
}


.hidden {
    display: none;
}