{{ define "header"}}
<html lang="en" data-bs-theme="{{ .Config.Color }}">
<head>
    <title>Watch Your LAN</title>
    <meta charset="utf-8">
    <!--Favicon-->
    <link href="data:image/x-icon;base64,{{ .Config.Icon }}" rel="icon" type="image/x-icon" />
    {{ if eq .Config.NodePath "" }}
      <!-- Bootstrap and theme -->
      <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.0/dist/{{ .Config.Theme }}/bootstrap.min.css" rel="stylesheet">
      <!-- Font for icons -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    {{ else }}
      <link rel="stylesheet" href="{{ .Config.NodePath }}/node_modules/bootstrap-icons/font/bootstrap-icons.css">
      <link href="{{ .Config.NodePath }}/node_modules/bootswatch/dist/{{ .Config.Theme }}/bootstrap.min.css" rel="stylesheet">
    {{ end }}
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
        <div class="container">
            <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link active" href="/home/">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="/line?state=on">Online</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="/line?state=off">Offline</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="/config/">Config</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="/auth_conf/">Auth</a>
                </li>
                {{ if .Config.Auth }}
                <li class="nav-item">
                  <a class="nav-link active" href="/login/?logout=yes">Log Out</a>
                </li>
                {{ end }}
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <form action="/search_hosts/" method="post">
                <li class="input-group nav-item">
                  <input name="search" type="text" class="form-control text-dark" placeholder="Search">
                  <button type="submit" class="btn btn-primary">Search</button>
                </li>
              </form>
              &nbsp;&nbsp;&nbsp;
              <li class="nav-item"><a class="nav-link active" target="_blank" href="https://github.com/aceberg/WatchYourLAN">
                <h3><i class="bi bi-github"></i></h3>
              </a></li>
            </ul>
        </div>
    </nav>
{{ end }}