{{ define "header"}}
<html>
<head>
    <title>Watch Your LAN</title>
    <meta charset="utf-8">
    <!--Favicon-->
    <link href="data:image/x-icon;base64,{{ .Icon }}" rel="icon" type="image/x-icon" />
    <!--Auto refresh (seconds)-->
    <!-- <meta http-equiv="refresh" content="{{ .Config.Timeout }}"> -->
    <!-- Bootstrap and theme -->
    <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.2.0/dist/{{ .Config.Theme }}/bootstrap.min.css" rel="stylesheet">
    <!-- Font for icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <!-- JavaScript Bundle with Popper -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script> -->
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
        <div class="container">
            <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link active" href="/">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="/online/">Online</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="/offline/">Offline</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <form action="/search_hosts/" method="post">
                <li class="input-group nav-item">
                  <input name="search" type="text" class="form-control text-dark" placeholder="Search">
                  <button type="submit" class="btn btn-primary">Search</button>
                </li>
                </form>
              <li class="nav-item"><a class="nav-link active" href="https://github.com/aceberg/WatchYourLAN">
                <h3>&nbsp;&nbsp;&nbsp;<i class="bi bi-github"></i></h3>
              </a></li>
            </ul>
        </div>
    </nav>
{{ end }}