{{ define "history.html" }}
</head>
<script src="/fs/public/js/history.js"></script>
<script src="/fs/public/js/hist-html.js"></script>

<body>
<div class="container-lg">
  <div class="row">
    <div class="col-md mt-4 mb-4">
      <div class="card border-primary">
        <div class="card-header">
          <div class="input-group">
            <button class="btn btn-outline-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Show</button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" onclick="showHist(500)">500</a></li>
                <li><a class="dropdown-item" onclick="showHist(1000)">1000</a></li>
                <li><a class="dropdown-item" onclick="showHist(2000)">2000</a></li>
                <li><a class="dropdown-item" onclick="showHist(5000)">5000</a></li>
                <li><a class="dropdown-item" onclick="showHist(0)">All</a></li>
              </ul>
            <input class="form-control" id="man-show" onchange="manualShow()" placeholder="Show elements" style="max-width: 10em;">
          </div>
        </div>
        <div class="card-body table-responsive">
          <table class="table table-striped">
            <thead>
              <th style="width: 3em;"></th>
              <th>Host</th>
              <th>History</th>
            </thead>
            <tbody id="showHist"></tbody>
            <!-- history.js -->
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{{ template "footer.html" }}
{{ end }}