{{ define "history"}}
    <!--Auto refresh (seconds)-->
    <meta http-equiv="refresh" content="{{ .Config.Timeout }}">
<body>
    <div class="container mt-3">
        <table class="table table-striped">
            <tr>
                <th>Host ID</th>
                <th>Name</th>
                <th>IP</th>
                <th>Mac</th>
                <th>Hardware</th>
                <th>First/Last seen</th>
                <th>Known</th>
                <th>State</th>
            </tr>
            {{ range .Hist }}
                    <tr>
                        <td><a href="/host?id={{ .Host }}">{{ .Host }}</a></td>
                        <td>{{ .Name }}</td>
                        <td><a href="http://{{ .IP }}" target="_blank">{{ .IP }}</a></td>
                        <td><a href="/host?id={{ .Host }}">{{ .Mac }}</a></td>
                        <td>{{ .Hw }}</td>
                        <td>{{ .Date }}</td>
                        <td>
                            {{ if eq .Known 1 }}
                            Yes
                            {{ else }}
                            No
                            {{ end }}
                        </td>
                        <td>                            
                            {{ if eq .State 1 }}
                            <i class="bi bi-circle-fill text-success"></i>
                            {{ else }}
                            <i class="bi bi-circle-fill text-danger"></i>
                            {{ end }}
                        </td>
                    </tr>
            {{ end }}
        </table>
    </div>

{{ template "footer" }}
{{ end }}