{{ define "host.html" }}

<body>
  <div class="container-lg">
    <div class="row">
      <div class="col-md mt-4">
        <div class="card border-primary">
          <div class="card-header">Host</div>
          <div class="card-body table-responsive">
            <table class="table table-borderless">

            </table>
          </div>
        </div>
      </div>
        
      <div class="col-md mt-4 mb-4">
        <div class="card border-primary">
          <div class="card-header">Port scan</div>
          <div class="card-body">
          </div>
        </div>
      </div>
    </div>
  </div>      

{{ template "footer.html" }}
{{ end }}