{{ define "index.html" }}
</head>
<script src="/fs/public/js/index.js"></script>
<script src="/fs/public/js/sort.js"></script>
<body>
<div class="container-lg">
  <div class="row">
    <div class="col-md mt-4 mb-4">
      <div class="card border-primary">
        <div class="card-body table-responsive">
          <table class="table table-striped">
            <thead>
              <th style="width: 3em;"></th>
              <th>Name <i class="bi bi-sort-down-alt" onclick="sortBy('Name')"></i></th>
              <th>Iface <i class="bi bi-sort-down-alt" onclick="sortBy('Iface')"></i></th>
              <th>IP <i class="bi bi-sort-down-alt" onclick="sortBy('IP')"></i></th>
              <th>MAC <i class="bi bi-sort-down-alt" onclick="sortBy('Mac')"></i></th>
              <th>Hardware <i class="bi bi-sort-down-alt" onclick="sortBy('Hw')"></i></th>
              <th>Date <i class="bi bi-sort-down-alt" onclick="sortBy('Date')"></i></th>
              <th>Known <i class="bi bi-sort-down-alt" onclick="sortBy('Known')"></i></th>
              <th>Online <i class="bi bi-sort-down-alt" onclick="sortBy('Now')"></i></th>
            </thead>
            <tbody id="tBody"></tbody> 
            <!-- index.js -->
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{{ template "footer.html" }}
{{ end }}