{{ define "index.html" }}
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
  <title>WatchYourLAN</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--Favicon-->
  <link rel="icon" type="image/x-icon" href="/fs/public/favicon.png">
  <!-- JS & CSS -->
  <script type="module" crossorigin src="/fs/public/assets/index.js"></script>
  <link rel="stylesheet" crossorigin href="/fs/public/assets/index.css">
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
  </body>
</html>
{{ end }}